<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>F+1</title>
    <link rel="stylesheet" href="/index3.0/assets/css/index.css" />
    <link rel="stylesheet" href="/index3.0/assets/css/noscript.css" />
    <link rel="stylesheet" href="/index3.0/assets/css/custom.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  </head>
  <body>

    <!-- Header -->
			<header id="header">
				<h1>F+1</h1>
				<nav>
					<ul>
						<li><a href="#intro">Intro</a></li>
						<li><a href="#one">¿Que hacemos?</a></li>
						<li><a href="#two">quienes somos</a></li>
						<li><a href="#work">Nuestro Trabajo</a></li>
						<li><a href="#contact">Contacto</a></li>
						<li><a href="/users/signin">Colaboradores</a></li>
					</ul>
				</nav>
			</header>

		<!-- Intro -->
			<section id="intro" class="main style2 dark fullscreen">
				<div class="content">
					<header>
						<h2>F+1</h2>
					</header>
					<p>somos expertos en hacer
                proyectos una realidad!</p>
					<footer>
						<a href="#one" class="button style2 down">More</a>
					</footer>
				</div>
			</section>

		<!-- One -->
		<section id="one" class="main style2 left dark fullscreen">
				<div class="content box style2">
					<header>
						<h2>Who I Am</h2>
					</header>
					<p>Lorem ipsum dolor sit amet et sapien sed elementum egestas dolore condimentum.
					Fusce blandit ultrices sapien, in accumsan orci rhoncus eu. Sed sodales venenatis arcu,
					id varius justo euismod in. Curabitur egestas consectetur magna.</p>
				</div>
				
				<a href="#two" class="button style2 down anchored">Next</a>
			</section>

		<!-- Two -->
			<section id="two" class="main style2 left dark fullscreen">
				<div class="content box style2">
					<header>
						<h2>¿Quienes somos?</h2>
					</header>
					<p>Somos un grupo de desarrolladores estudiantes de
							la facultad de informatica de la UAQ y otras universidades
							expertos en el front y backend
                            con las herramientas y el conocimiento para hacer su proyecto realidad.</p>
				</div>
				<a href="#work" class="button style2 down anchored">Next</a>
			</section>

		<!-- Work -->
			<section id="work" class="main style3 primary">
				<div class="content">
					<header>
						<h2>Nuestro Trabajo</h2>
						<p>Aqui podras ver ejemplos de nuestro trabajo.</p>
					</header>

					<!-- Gallery  -->
						<div class="gallery">
							<article class="from-left">
								<a href="/index3.0/images/fulls/01.jpg" class="image fit"><img src="/index3.0/images/fulls/01.jpg" title="The Anonymous Red" alt="" /></a>
							</article>
							<article class="from-right">
								<a href="/index3.0/images/fulls/02.jpg" class="image fit"><img src="/index3.0/images/fulls/02.jpg" title="Airchitecture II" alt="" /></a>
							</article>
							<article class="from-left">
								<a href="/index3.0/images/fulls/03.jpg" class="image fit"><img src="/index3.0/images/fulls/03.jpg" title="Air Lounge" alt="" /></a>
							</article>
							<article class="from-right">
								<a href="/index3.0/images/fulls/04.jpg" class="image fit"><img src="/index3.0/images/fulls/04.jpg" title="Carry on" alt="" /></a>
							</article>
							<article class="from-left">
								<a href="/index3.0/images/fulls/05.jpg" class="image fit"><img src="/index3.0/images/fulls/05.jpg" title="The sparkling shell" alt="" /></a>
							</article>
							<article class="from-right">
								<a href="/index3.0/images/fulls/06.jpg" class="image fit"><img src="images/thumbs/06.jpg" title="Bent IX" alt="" /></a>
							</article>
						</div>

				</div>
			</section>

		<!-- Contact -->
			<section id="contact" class="main style3 secondary">
				<div class="content">
					
					<header>
						<h2>Estamos a tu servicio.</h2>
						<p>Dejanos los siguientes datos y nosotros te contactaremos.</p>
					</header>
					<div class="box">
						<form method="post" action="/notes/new-note">
							<div class="fields">
								<div class="field half"><input type="text" name="title" placeholder="Titulo" /></div>
								<div class="field half"><input type="text" name="nombre" placeholder="Nombre" /></div>
								<div class="field half"><input type="text" name="numero" placeholder="Numero telefonico" /></div>
								<div class="field half"><input type="email" name="correo" placeholder="Email" /></div>
								<div class="field"><textarea name="description" placeholder="Mensaje" rows="6"></textarea></div>
							</div>
							<ul class="actions special">
								<li><input type="submit" value="Enviar" /></li>
							</ul>
						</form>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">

				<!-- Icons -->
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
					</ul>

				<!-- Menu -->
					<ul class="menu">
							F+1 &copy; 2018 - All rights reserved</p>
					</ul>

			</footer>

		<!-- Scripts -->
	

    <main class="container p-5">
      {{> messages }}
      {{> errors }}
      {{{ body }}}
    </main>

    <!-- Scritps -->
    <script src="/index3.0/assets/js/jquery.min.js"></script>
    <script src="/index3.0/assets/js/jquery.poptrox.min.js"></script>
    <script src="/index3.0/assets/js/jquery.scrolly.min.js"></script>
    <script src="/index3.0/assets/js/jquery.scrollex.min.js"></script>
    <script src="/index3.0/assets/js/browser.min.js"></script>
    <script src="/index3.0/assets/js/breakpoints.min.js"></script>
    <script src="/index3.0/assets/js/util.js"></script>
    <script src="/index3.0/assets/js/main.js"></script>
  </body>
</html>
